{% extends "base.html" %}
{% block title %}Đặt lại Mật khẩu{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><h4>Đặt lại Mật khẩu Mới</h4></div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="password">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="password_confirm">Xác nhận mật khẩu mới</label>
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Đặt lại Mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}